.Header {
    height: 10vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Zen Dots', cursive;
}

.Header img {
    width: 90px;
}

@media only screen and (max-width: 600px) {
    .Header {
        font-size: 25px;
    }
    .Header img {
        width: 70px;
    }

}