.Main {
    height: 82vh;
    background-color: rgb(218, 243, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.Main h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
} 

.Main h2 span {
    background-color: red;
    color: rgb(250, 250, 177);
    padding: 10px 29px;
    border-radius: 50%;
}

.Main h2 img {
    width: 60px;
}

.Main h3 {
    font-style: italic;
    margin-bottom: 10px;
    color: red;
} 



.Main canvas {
    background-color: black;
    box-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
}

.Main button {
    position: relative;
    padding-left: 20px;
    font-size: 25px;
    border-radius: 15px;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 4px solid rgb(173, 7, 7);
    box-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    transform: scale(0);
    transition: all 500ms ease-in-out;
}

button:hover::before, button:focus::before {
    transform: scale(1.5);
 }

 button {
    z-index: 1;
    overflow: hidden;
    transition: all 500ms ease-in-out;
 }

 button:hover, button:focus {
    color: rgb(250, 250, 177);
 }

#fruit {
    display: none;
}

.Main .gameOver {
    color: red;
    letter-spacing: 20px;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right , hsl(0, 1%, 17%) 5%, hsl(0, 97%, 49%) 20%, hsl(0, 0%, 13%) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: -150px;
    }
    60% {
        background-position: 50px;
    }
    100% {
        background-position: 250px;
    }
}