.Main {
    height: 82vh;
    background-color: rgb(218, 243, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.Main canvas {
    background-color: black;
}