.Main {
    height: 82vh;
    background-color: rgb(218, 243, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.Main h2 {
    font-style: italic;
    margin-bottom: 10px;
} 

.Main .highScore {
    color: red;
}

.Main canvas {
    background-color: black;
    box-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
}

.Main button {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 4px solid rgb(173, 7, 7);
    box-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
    font-family: 'Roboto', sans-serif;
}

#fruit {
    display: none;
}

.Main .gameOver {
    color: red;
    letter-spacing: 20px;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right , hsl(0, 1%, 17%) 5%, hsl(0, 97%, 49%) 20%, hsl(0, 0%, 13%) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: -150px;
    }
    60% {
        background-position: 50px;
    }
    100% {
        background-position: 250px;
    }
}